/*=============================================
=            Main Section            =
=============================================*/

@mixin section--bordered($borderColour, $borderStyle) {
	border: 2px $borderStyle $borderColour;
}

@mixin section__paragraph {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.sectionone {
	@include section--bordered(red, dotted);
	@include section__paragraph;
}

.sectiontwo {
}

/*=====  End of Main Section  ======*/
