/*=============================================
=            Challenge 1            =
=============================================*/

main {
	display: flex;
	width: 900px;
	height: 300px;
}

/*=====  End of Challenge 1  ======*/
