
/*=============================================
=            Header section            =
=============================================*/

header {
    .sectionone {
        border: green 3px dashed;
        &__paragraph--bluestrike {
            color: blue;
            text-decoration: line-through;
        }
    }

}


/*=====  End of Header section  ======*/

