/*=============================================
=            Main Selectors            =
=============================================*/
p {
	margin-left: 3vw;
}

/*=====  End of Main Selectors  ======*/

/*=============================================
=            First section            =
=============================================*/

#firstSection > h1 {
	font-size: 36pt;
}

h1 + p {
	font-style: italic;
}

h1 + p ~ p {
	color: darkgray;
}

/*=====  End of First section  ======*/
