/*=============================================
=            Main selectors                   =
=============================================*/

h1 {
	text-align: center;
	color: orange;
}

/*=====  End of Main selectors  ======*/

/*=============================================
=            Class Selectors                  =
=============================================*/

.text-right {
	text-align: right;
}

/*=====  End of Class Selectors  ======*/
