.card {
	border: 2px solid black;
	width: 15rem;
	height: 15rem;
	background-color: rgba(231, 231, 231, 0.7);
	background-blend-mode: overlay;
	background-size: contain;

	p {
		color: black;
		padding-left: 2rem;
	}

	margin: 0.5rem;
}
